.container {
  @apply flex flex-col;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.header {
  @apply flex justify-center items-center;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #eaeaea;
}

.main {
  @apply flex flex-col;
  padding: 5rem 0;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.footer {
  @apply flex justify-center items-center;
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
}
